<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://cosmo-dev-001.documents.azure.com:443/" />
    <add key="PrimaryKey" value="95ESOKPDBDDQhB57bj7vbOId6yBQxSB7ail1JplpsurO7ePBqhAS57jp9GVLKqEA6Dv7LfSIb3faACDbXarVBQ==" />
  </appSettings>
</configuration>